@import "tailwindcss";

/* @theme {
  --font-sans: 'Helvetica Neue', Arial, sans-serif;
} */

@layer utilities {

  .road-stripe {
    background: repeating-linear-gradient(90deg, #1A1A1A, #1A1A1A 40px, #222222 40px, #222222 80px);
  }

  .glow-text {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.1);
  }
}

body {
  background-color: #050505;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
